@import url(//fonts.googleapis.com/css?family=Vibur);

.chaw h1 {
    color: aliceblue;
    position: absolute;
    margin-left: 170vh;
    font-size: 30px;
    margin-top: -1px;
}

html {
    height: 100%
}

body {
    background-color: #f4f4ef;
    margin-top: -50px;
    margin-left: 0%;
    height: 100%;
}

header {
    height: 500px;
    width: 100%;
    background-image: url("/imgs/des.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#modal button {
    position: absolute;
    top: 160px;
    margin: 44px;
    opacity: 0.6;
    font-size: 16px;
    cursor: pointer;
    display: block;
    font-size: 30px;
    opacity: 0.6;
    transition: 0.3s;
    z-index: 20;
    font-family: 'roboto';
    background: #232323;
    color: ghostwhite;
}

#modal button:hover {
    transform: scale(1.2);
    color: tomato;
}

button {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: black;
    font-size: 1.8rem;
    font-family: 'Poor Story', cursive;
    padding: 20px;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
}

button:hover {
    transform: scale(1.01);
    color: tomato;
}

h1 {
    font-family: 'Amatic SC', cursive;

}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.2em;
}

p {
    font-family: 'Abel', sans-serif;
}

#modal-navn {
    font-size: 3em;
}

/*.... BURGER MENU - LÅNT AF Erik Terwan .....*/

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

#menuToggle {
    display: block;
    position: absolute;
    top: 73px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;

    left: -5px;

    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 150px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 135px;
    background: #ededed;
    list-style-type: none;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 7px 0;
    font-size: 40px;
    font-family: 'Poor Story', cursive;
}

#menuToggle input:checked ~ ul {
    transform: none;
}


/*..... DIVER.......*/

#eventcontainer {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px;
}

.ret img {
    width: 90%;
    box-shadow: 1px 2px 2px;
    border-radius: 10px;
}

@media screen and (max-width:1225px) {
    #eventcontainer,
    .row {
        grid-template-columns: 1fr 1fr;
    }
    .row {
        padding-top: 2;
    }

    .column {
        max-width: 800px;
        padding: 20%;
        padding-bottom: 0;
    }
}

@media screen and (max-width:830px) {
    #eventcontainer,
    #header,
    .parallax,
    header,
    .row {
        grid-template-columns: 1fr;
    }

    .centered_2,
    .centered {
        display: none;
    }

    .logo {
        display: none;
    }
}

@media screen and (max-width:425px) {
    #eventcontainer {
        grid-template-columns: 1fr;
    }
}

/*.... MODAL.....*/

#modal {
    width: 70vw;
    height: 80vh;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    text-align: center;
    /*MODAL VINDUET SKAL VÆRE SKJULT INDTIL DER BLIVER KLIKKET, DERFOR GEMMER MAN DET I OPASITY 0*/
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    z-index: 10;
}

#modal-content {
    width: 100vw;
    height: 75vh;
    background: #222222;
    margin: auto;
    padding-top: 1em;
    margin-top: 8em;
}

#modal:hover img {
    cursor: zoom-in;
}

#modal.vis {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
    color: aliceblue;

}

#titel h1 {
    margin-top: 0;
    padding-top: 1em;
    font-family: 'Amatic SC', cursive;
    font-size: 3.5em;
    margin-bottom: 10em;
}

#side_navn h1 {
    text-decoration: underline;
    font-family: 'Amatic SC',
    cursive;
    text-align: center;
    color: #ba3f29;
    font-size: 50px;
}


/*......NAVBAR.....*/

#navbar {
    background: rgba(0, 0, 0, 0.62);
    text-align: center;
    position: fixed;
    width: 100%;
    height: 130px;
    z-index: 20;
}

#logoo {
    padding-top: 50px;
    text-align: center;
    height: 130px;
    transition: 1s;
    z-index: 11;
}




/*.... FOOTER .....*/

.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;

    padding: 45px;
    margin-top: 80px;
}

.footer-basic-centered .footer-company-motto {
    color: #377fc7;
    font-size: 24px;
    margin: 0;
}

.footer-basic-centered .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0;
}

.footer-basic-centered .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.footer-tegn {
    color: #d30f0f;
    margin: -0px
}


@media (max-width: 600px) {

    .footer-basic-centered {
        padding: 35px;
    }

    .footer-basic-centered .footer-company-motto {
        font-size: 18px;
    }

    .footer-basic-centered .footer-company-name {
        font-size: 12px;
    }

    .footer-basic-centered .footer-links {
        font-size: 14px;
        padding: 25px 0 20px;
    }

    .footer-basic-centered .footer-links a {
        line-height: 1.8;
    }
}
